extends layout

block content
    .container
        .row.my-5
            .col.text-center
                h1.inrFontColor.mb-3 Comment ça fonctionne ?

            h3 score ecoindex + Classement
            h3 complexite
            p Le nombre d’éléments du DOM témoigne de la complexité du site et donc, a priori, des efforts à faire par le navigateur pour afficher la page. Plus le site est complexe et plus il faut de puissance (notamment CPU) pour l’afficher. Et plus on contribue à raccourcir la durée de vie de l’ordinateur sur lequel il s’exécute. A l’inverse, un site particulièrement simple et léger contribue à allonger la durée de vie de l’équipement car il nécessite peu de mémoire et un “petit” processeur.
            h3 charge serveur
            p Le nombre de requêtes HTTP donne une bonne idée de la charge serveur. Pour le dire vite et de façon caricaturale, en attendant la généralisation de HTTP/2, plus le nombre de requêtes est important pour une même page et plus il faudra de serveurs pour servir cette page.
            h3 empreinte ges
            h3 empreinte eau
            h3 temps de chargement
            p En moyenne, un internaute ne doit pas attendre plus de 3 secondes pour que les pages de votre site se chargent. Si c’est le cas, il aura tendance à avoir une mauvaise image de votre marque et sera alors enclin à quitter votre site pour retourner à la page de recherche afin d’atteindre un site plus performant. L’amélioration de la vitesse de chargement permet la rétention des visiteurs et augmente ainsi le taux de conversion, par exemple les inscriptions à votre newsletter ou ses achats.
            h3 hébergement
            p Votre herbergement est identifié par /www.thegreenwebfoundation.org/
            h3 bande passante
            p Le poids des données transférées (Ko) témoigne des efforts à faire pour transporter la page jusqu’au navigateur. Une connexion 4G nécessite jusqu’à 23 fois plus d’énergie pour transporter la même quantité de données qu’une connexion ADSL.
            h3 Equivalence des émissions de CO2
            h3 position dans le classement
            p position du site web testé par rapport aux autres sites qui ont été testés. Le classement est determiné en fonction de l'eco

