extends layout

block content
  #accueil.container
    .header.pad50.headerBackgroundColor
      .container.mt-3
        .text-center
          h1.inrFontColor.mb-3 Impact environnemental d'un site internet
          h2= message
          .form-group.justify-content-center.action=''
            form(action='/' method='GET')
              .input-group.pl-5.pr-5
              button#btnAnalyser.btn.btn-success.inrBtnColor(type='submit') Retour accueil



