doctype html
html
    head
        title=title
        link(href='/stylesheets/bootstrap.min.css' rel='stylesheet' )
        link(rel='stylesheet' href='/stylesheets/style.css')

        script(src='/javascripts/bootstrap.bundle.min.js')
        script(type='text/javascript' charset='utf8' src='/javascripts/comportement.js')
        script(type='text/javascript' charset='utf8' src='/controllers/indexController.js')
        script(type='text/javascript' charset='utf8' src='/javascripts/gauge.js')


    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-white
            .container.px-5
                a.navbar-brand(href='/')
                    img(src='/img/INR-logo-s.jpg' alt='' width='200' )
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse.justify-content-end(style="font-size:16px")
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link.active(aria-current='page' href='/' style="color:#0d3280")
                                b Accueil
                        li.nav-item
                            a.nav-link(href='/documentation' style="color:#0d3280")
                                b Documentation
                        li.nav-item
                            a.nav-link(href='/bi' style="color:#0d3280")
                                b Historiques

        block content
