include template_mixinResult

doctype html
html
    head
        title=title
        link(href='/stylesheets/bootstrap.min.css' rel='stylesheet' )
        link(rel='stylesheet' href='/stylesheets/style.css')

        script(src='/javascripts/bootstrap.bundle.min.js')
        script(type='text/javascript' charset='utf8' src='/javascripts/comportement.js')
        script(type='text/javascript' charset='utf8' src='/javascripts/gauge.js')

    block content
        #singleSite.container
            .row.align-items-center
                .col.text-center
                    h1(style='font-size: 48px; font-weight: bold; color:rgb(13, 50, 128);') Environmental impact of
                        br
                        span#NomSite #{list_history[0].ak_website[0].url}
            .row
                .col.text-end
                    b(style='color:rgb(0, 0, 0); font-size: 14px') Position in the ranking:
                    b(style='font-size: 40px') #{classement}
            .row
                .col.text-end
                    b(style='font-size: 20px') / #{nombre_total}

            +simpleResultTemplate(list_history[0],max_charge_serveur,max_complexite,max_bande_passante)
