body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn{
  border-radius: 0 !important;
}

.form-control{
  border-radius: 0 !important;
}

.inrBtnColor{
  background-color: #0d3280 !important;
}

.inrFontColor{
  color: #0d3280 !important;
  border-color: #0d3280;
}

.whiteFontColor{
  color: white !important;
}

.headerBackgroundColor{
  background-color: white !important;
}

.bodyBackgroundColor{
  background-color: #02659b !important;
}

.pad50{
  padding: 80px !important;
}

.borderTabColor th{
  border: #382687 solid 1px !important;
  background-color: white;
}

.borderTabColor2 td{
  border: #382687 solid 1px !important;
  background-color: white;
  color: #382687;
}

.custom-file-label {
  border-radius: 0 !important;
}

.progress .progress-bar{
  position: relative;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s;
}

@-webkit-keyframes animate-positive{
  0% { width: 0%; }
}
@keyframes animate-positive{
  0% { width: 0%; }
}

#gauge-value {
  display: block;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#modal_icon:hover {
  fill: forestgreen;
}

#modal_icon_pdf:hover {
  fill: #0d3280 !important;
}

/*
This is use for the loading screen
*/
#loader{
  margin: 0 auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
}

#textLoader {
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*page about us*/
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

/*all paragraphs*/
p.id0 {
  text-align: justify;
}

li.id1 {
  text-align: justify;
}


figure {
  flex-flow: column;
  padding: 5px;
  margin: auto;
}

figcaption{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  text-shadow: none;
}
